* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: tomato;
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: green;
  font-family: monospace;
  font-size: 48px;
  margin: 20px 0;
}
canvas#snake {
  border: 5px solid black;
}
